**
!docker-files/
!src/app/
!src/blast/
!src/clustal/
!src/filebrowser
!src/hmmer/
!src/i5k
!src/misc
!src/sphinx_doc
!src/util
!src/manage.py
!src/package*.json
!src/webpack.config.js
!supervisord.conf
!docker-files
!poetry.lock
!pyproject.toml