# Python byte code
*.pyc

# Mac desktop service store files
.DS_Store

# Virtual Environment
py2.7/
env/

# Sphinx build docs
sphinx_doc/_build/

# blast binaries
blast/bin_*/

# hmmer binaries
hmmer/bin_*/

# clustal binaries
clustal/bin_*/

# media folder
media/

# generated static folder
static/

# editor config
.editorconfig

# vscode workspace setting
.vscode/

# node modules
node_modules/
