{% extends "app/layout.html" %}
{% load staticfiles %}
{% load pipeline %}
{% load jsonify %}

{% block head-scripts %}
  {% if iframe == True %}
    <style>
      nav {
          display: none;
      }
      body {
          padding-top: 0px;
      }
    </style>
  {% endif %}
  {% stylesheet 'clustal-css' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
{% endblock %}

{% block scripts %}
  {% javascript 'clustal-js' %}
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation" class="active"><a href="#run" id="run-tab" role="tab" data-toggle="tab" aria-controls="run" aria-expanded="true">Run</a></li>
  <li role="presentation"><a href="#queries" role="tab" id="queries-tab" data-toggle="tab" aria-controls="queries" aria-expanded="false">Queries</a></li>
</ul>
{% endif %}

{% if user.is_authenticated %}
<div id="myTabContent" class="tab-content">
    <div class="tripal_details tab-pane fade active in" role="tabpanel" id="run" aria-labelledby="run-tab">
        {% else %}
        <div class="tripal_details">
            {% endif %}
            <form method="POST" id="MainClustalForm" name="MainClustalForm" enctype="multipart/form-data">
                <input type="hidden" name="program" id="program" value="clustalo">
                {% csrf_token %}
                <div class="tripal_organism-info-box tripal-info-box">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" id='clustalo_tab' href="#clustalo">CLUSTALO</a></li>
                        <li><a data-toggle="tab" id='clustalw_tab' href="#clustalw">CLUSTALW</a></li>
                        <li id="tutorial"><legend><a href='{% url 'clustal:manual' %}' target="_blank"><span class="glyphicon glyphicon-book"></span> Tutorial</a></legend></li>
                    </ul>
                    <fieldset id="fieldset-query">
                        <legend id="legend-sequence">Query Sequence</legend>
                        <div class="enter-query-text">Enter sequence below in <a target="_blank" href="http://en.wikipedia.org/wiki/FASTA_format">FASTA</a> format: </div>
                        <textarea id="query-textarea" name="query-sequence" rows=12 cols=80% spellcheck="false" autocomplete="off"></textarea>
                        <br>
                        <div><span class="load-example">Or</span> load it from disk <span class="load-nucleotide txt"> (load example) </span> </div>
                        <input type="file" name="query-file" class="query-file" id="queryfile">
                    </fieldset>

<fieldset id="fieldset-search-tag">
        <legend>Search Tag</legend>
    <INPUT TYPE="text" VALUE="{{ tag }}" id="tag" name="tag">
</fieldset>

                    <div class="tab-content">
                        <div id="clustalo" class="tab-pane fade in active">
                            <fieldset id="fieldset-omega" class="t_font">
                                <legend>Sequence Input</legend>
                                <div>Dealign input sequences</div>
                                <div>
                                    <label>
                                        <input type="radio" name="dealing_input" value="yes">
                                        yes
                                    </label><label>
                                        <input type="radio" name="dealing_input" value="no" checked>
                                        no
                                    </label>
                                </div>
                                <div class='d_col'>
                                    <input type="reset" VALUE="Reset" class="btn_reset">
                                </div>
                                <div class='d_col'>
                                    <input type="button" VALUE="Search" id="clustalo_submit">
                                </div>
                            </fieldset>
                            <fieldset id="fieldset-omega-clustering" class="t_font">
                                <legend>Clustering and Iteration</legend>
                                <div>MBED-Like Clustering Guide-Tree</div>
                                <div>
                                    <label>
                                        <input type="radio" name="clustering_guide_tree" value="yes" checked>
                                        yes
                                    </label><label>
                                        <input type="radio" name="clustering_guide_tree" value="no">
                                        no
                                    </label>
                                </div>
                                <div>MBED-Like Clustering Iteration</div>
                                <div>
                                    <label>
                                        <input type="radio" name="clustering_guide_iter" value="yes" checked>
                                        yes
                                    </label><label>
                                        <input type="radio" name="clustering_guide_iter" value="no">
                                        no
                                    </label>
                                </div>
                            </fieldset>
                            <fieldset id="fieldset-omega-iteration" class="t_font">
                                <legend>Iteration</legend>
                                <div class="d_col">
                                    <div class="p_col">Number of Combined Iterations</div>
                                    <div>
                                        <select name="combined_iter">
                                            <option value="default">Default</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d_col">
                                    <div class="p_col">Max Guide Tree Iterations</div>
                                    <div>
                                        <select name="max_gt_iter">
                                            <option value="default">Default</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="p_col">Max HMM Iterations</div>
                                    <div>
                                        <select name="max_hmm_iter">
                                            <option value="default">Default</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="fieldset-omega-output" class="t_font">
                                <legend>Output</legend>
                                <div>Format</div>
                                <select name="omega_output">
                                    <option value="clu">Clustal</option>
                                    <option value="phy">PHYLIP</option>
                                    <option value="fa">FASTA</option>
                                    <option value="st">STOCKHOLM</option>
                                </select>
                                <div id="out_order">Out Order</div>
                                <select name="omega_order">
                                    <option value="tree-order">Aligned</option>
                                    <option value="input-order">Input</option>
                                </select>
                            </fieldset>


                        </div>
                        <div id="clustalw" class="tab-pane fade">
                            <fieldset id="fieldset-basic" class="t_font">
                                <legend>Basic</legend>
                                <div>Sequence Type</div>
                                <div>
                                    <label>
                                        <input type="radio" name="sequenceType" value="dna" class="sequenceType dna">
                                        DNA
                                    </label><label>
                                        <input type="radio" name="sequenceType" value="protein" checked class="sequenceType protein">
                                        Protein
                                    </label>
                                </div>
                                <div>Pairwise Alignment</div>
                                <div class="d_col">
                                    <label>
                                        <input type="radio" name="pairwise" value="full" checked class="pairwise full">
                                        Full
                                    </label><label>
                                        <input type="radio" name="pairwise" value="fast" class="pairwise fast">
                                        Fast
                                    </label>
                                </div>

                                <div class="d_col">
                                    <input type="reset" VALUE="Reset" class="btn_reset">
                                </div>
                                <div class="d_col">
                                    <input type="button" VALUE="Search" id="clustalw_submit">
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-dna-full" class="t_font">
                                <legend>Full options</legend>
                                <div class="d_col">
                                    <div class="p_col">DNA weight matrix</div>
                                    <div>
                                        <select name="pwdnamatrix">
                                            <option value="default">Default</option>
                                            <option value="IUB">IUB</option>
                                            <option value="ClustalW">ClustalW</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Open Penalty
                                        <input type="text" name="dna_pwgapopen" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Extension Penalty
                                        <input type="text" name="dna_pwgapext" size=10>
                                    </label>
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-protein-full" class="t_font">
                                <legend>Full options</legend>
                                <div class="p_col">
                                    <div id="protein_weight_matrix">Protein weight matrix</div>
                                    <div>
                                        <select name="pwmatrix">
                                            <option value="default">Default</option>
                                            <option value="Blosum">Blosum</option>
                                            <option value="PAM">PAM</option>
                                            <option value="GONNET">GONNET</option>
                                            <option value="ID">Identity</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Open Penalty
                                        <input type="text" name="protein_pwgapopen" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Extension Penalty
                                        <input type="text" name="protein_pwgapext" size=10>
                                    </label>
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-fast" class="t_font">
                                <legend>Fast options</legend>
                                <div class="p_col">
                                    <label>
                                        K-tuple (word) Size
                                        <input type="text" name="ktuple" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Window Size
                                        <input type="text" name="window" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Gap Penalty
                                        <input type="text" name="pairgap" size=10>
                                    </label>
                                </div>
                                <div class="p_col">
                                    <label>
                                        Number of Top Diagonals
                                        <input type="text" name="topdiags" size=10>
                                    </label>
                                </div>
                                <div class="p_col">Scoring Method</div>
                                <div>
                                    <label>
                                        <input type="radio" name="score" value="percent" checked>
                                        Percent
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" name="score" value="absolute">
                                        Absolute
                                    </label>
                                </div>
                            </fieldset>

                            <fieldset id="fieldset-dna-multi" class="t_font">
                                <legend>Multiple Alignment</legend>
                                <div class="p_col">
                                    DNA weight matrix
                                </div>

                                <div class="p_col">
                                    <select name="dnamatrix">
                                        <option value="default">Default</option>
                                        <option value="IUB">IUB</option>
                                        <option value="clustalw">ClustalW</option></select>
                                </div>

                                <div>
                                    <div>
                                        <label>
                                            Gap Opening Penalty
                                            <input type="text" name="dna_gapopen" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Extension Penalty
                                            <input type="text" name="dna_gapext" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Separation Penalty
                                            <input type="text" name="dna_gapdist" size=10>
                                        </label>
                                    </div>
                                    Output
                                    <select name="dna_iteration">
                                        <option value="none">None</option>
                                        <option value="tree">Tree</option>
                                        <option value="alignment">Alignment</option>
                                    </select>
                                    <div>
                                        <label>
                                            Maximum Number of Iterations
                                            <input type="text" name="dna_numiter" size=10>
                                        </label>
                                    </div>
                                    <div class="p_col">Clustering</div>
                                    <div>
                                        <label>
                                            <input type="radio" name="dna_clustering" value="NJ" checked>
                                            Neighbour Joining
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="radio" name="dna_clustering" value="UPGMA">
                                            UPGMA
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset id="fieldset-protein-multi" class="t_font">
                                    <legend>Multiple Alignment</legend>
                                    <div class="p_col">
                                        Protein weight matrix
                                    </div>

                                    <div class="p_col">
                                        <select name="matrix">
                                            <option value="default">Default</option>
                                            <option value="Blosum">Blosum</option>
                                            <option value="PAM">PAM</option>
                                            <option value="GONNET">GONNET</option>
                                            <option value="ID">Identity</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label>
                                            Gap Opening Penalty
                                            <input type="text" name="protein_gapopen" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Extension Penalty
                                            <input type="text" name="protein_gapext" size=10>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            Gap Separation Penalty
                                            <input type="text" name="protein_gapdist" size=10>
                                        </label>
                                    </div>
                                    Output
                                    <select name="protein_iteration">
                                        <option value="none">None</option>
                                        <option value="tree">Tree</option>
                                        <option value="alignment">Alignment</option>
                                    </select>
                                    <div>
                                        <label>
                                            Maximum Number of Iterations
                                            <input type="text" name="protein_numiter" size=10>
                                        </label>
                                    </div>
                                    <div class="p_col">Clustering</div>
                                    <div>
                                        <label>
                                            <input type="radio" name="protein_clustering" value="NJ" checked>
                                            Neighbour Joining
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input type="radio" name="protein_clustering" value="UPGMA">
                                            UPGMA
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset id="fieldset-output" class="t_font">
                                    <legend>Output</legend>
                                    <div>Format</div>
                                    <select name="output" id="output_format_select">
                                        <option value="clustal">Clustal&nbsp;&nbsp; </option>
                                        <option value="phylip">PHYLIP</option>
                                        <option value="fasta">FASTA</option>
                                    </select>
                                    <div>Out Order</div>
                                    <select name="outorder">
                                        <option value="aligned">Aligned</option>
                                        <option value="input">Input</option>
                                    </select>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                </form>

<input type="hidden" ID="hist_program" name="hist_program" VALUE="{{ program }}">
<input type="hidden" ID="hist_sequence" name="hist_sequence" VALUE="{{ sequence }}">
<input type="hidden" ID="hist_dealing_input" name="hist_dealing_input" VALUE="{{ dealing_input }}">
<input type="hidden" ID="hist_clustering_guide_tree" name="hist_clustering_guide_tree" VALUE="{{ clustering_guide_tree }}">
<input type="hidden" ID="hist_clustering_guide_iter" name="hist_clustering_guide_iter" VALUE="{{ clustering_guide_iter }}">
<input type="hidden" ID="hist_combined_iter" name="hist_combined_iter" VALUE="{{ combined_iter }}">
<input type="hidden" ID="hist_max_gt_iter" name="hist_max_gt_iter" VALUE="{{ max_gt_iter }}">
<input type="hidden" ID="hist_max_hmm_iter" name="hist_max_hmm_iter" VALUE="{{ max_hmm_iter }}">
<input type="hidden" ID="hist_omega_output" name="hist_omega_output" VALUE="{{ omega_output }}">
<input type="hidden" ID="hist_omega_order" name="hist_omega_order" VALUE="{{ omega_order }}">
<input type="hidden" ID="hist_pairwise" VALUE="{{ pairwise }}">
<input type="hidden" ID="hist_sequence_type" VALUE="{{ sequence_type }}">
<input type="hidden" ID="hist_dnamatrix" VALUE="{{ dnamatrix }}">
<input type="hidden" ID="hist_dna_gapopen" VALUE="{{ dna_gapopen }}">
<input type="hidden" ID="hist_dna_gapext" VALUE="{{ dna_gapext }}">
<input type="hidden" ID="hist_dna_gapdist" VALUE="{{ dna_gapdist }}">
<input type="hidden" ID="hist_dna_iteration" VALUE="{{ dna_iteration }}">
<input type="hidden" ID="hist_dna_numiter" VALUE="{{ dna_numiter }}">
<input type="hidden" ID="hist_dna_clustering" VALUE="{{ dna_clustering }}">
<input type="hidden" ID="hist_output" VALUE="{{ output }}">
<input type="hidden" ID="hist_outorder" VALUE="{{ outorder }}">
<input type="hidden" ID="hist_pwdnamatrix" VALUE="{{ pwdnamatrix }}">
<input type="hidden" ID="hist_dna_pwgapopen" VALUE="{{ dna_pwgapopen }}">
<input type="hidden" ID="hist_dna_pwgapext" VALUE="{{ dna_pwgapext }}">
<input type="hidden" ID="hist_pwmatrix" VALUE="{{ pwmatrix }}">
<input type="hidden" ID="hist_protein_pwgapopen" VALUE="{{ protein_pwgapopen }}">
<input type="hidden" ID="hist_protein_pwgapext" VALUE="{{ protein_pwgapext }}">

<input type="hidden" ID="hist_matrix" VALUE="{{ matrix }}">
<input type="hidden" ID="hist_protein_gapopen" VALUE="{{ protein_gapopen }}">
<input type="hidden" ID="hist_protein_gapext" VALUE="{{ protein_gapext }}">
<input type="hidden" ID="hist_protein_gapdist" VALUE="{{ protein_gapdist }}">
<input type="hidden" ID="hist_protein_iteration" VALUE="{{ protein_iteration }}">
<input type="hidden" ID="hist_protein_numiter" VALUE="{{ protein_numiter }}">
<input type="hidden" ID="hist_protein_clustering" VALUE="{{ protein_clustering }}">

<input type="hidden" ID="hist_ktuple" VALUE="{{ ktuple }}">
<input type="hidden" ID="hist_window" VALUE="{{ window }}">
<input type="hidden" ID="hist_pairgap" VALUE="{{ pairgap }}">
<input type="hidden" ID="hist_topdiags" VALUE="{{ topdiags }}">
<input type="hidden" ID="hist_score" VALUE="{{ score }}">




            </div>

            {% if user.is_authenticated %}
            <div role="tabpanel" class="tab-pane fade" id="queries" aria-labelledby="queries-tab">
                <table id="queries-{{user.id}}" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Submission time</th>
                            <th>Status</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        {% endif %}

        {% endblock %}
