{% extends "app/layout.html" %}
{% load staticfiles %}
{% load pipeline %}
{% load jsonify %}

{% block head-scripts %}
    <!-- CSS -->

	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/design.css' %}">
    <!-- END CSS -->
{% endblock %}

{% block scripts %}


    <!-- === JAVASCRIPT MANDATORY CODE === -->
    <script>

	    /* === SIDEBAR === */
	    $('.toogle').on('click', function() {
		$('.body').toggleClass('slide');
		$('.sidebar').toggleClass('show');
		$('.toogle i').toggleClass('fa-chevron-left fa-chevron-right');
	    });
	    /* === END SIDEBAR === */
	    /* === ACCORDION === */
	    $( '#accordion' ).on('click', '.single-item', function(){
		localStorage.removeItem('collapseID');
		localStorage.removeItem('activeLink');
	    });

	    $( '#accordion' ).on('click', '.list-group-item', function(){
		localStorage.setItem('collapseID', $(this).parents().eq(1).attr('id'));
		localStorage.setItem('activeLink', this);
	    });
	    if ( localStorage.collapseID ) {
		$( '.panel-collapse' ).removeClass('in');
		$( '#' + localStorage.collapseID ).addClass('in');
	    } else {
		$( '.panel-collapse' ).removeClass('in');
	    }

	    if ( localStorage.activeLink ) {
		$( 'a[href="' + localStorage.activeLink.split('/').pop() + '"]' ).addClass('solso-active');
	    }
	    /* === END ACCORDION === */
	</script>
	<!-- === END JAVASCRIPT MANDATORY CODE === -->
{% endblock %}


{% block content %}

<div class="body slide">
    <!-- SIDEBAR -->
    <aside class="sidebar show perfectScrollbar">
        <div id="solso-sidebar">

            <!-- SIDEBAR ACCORDION MENU -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- SIMPLE PANEL - no Collapse -->
                <div class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a href="{% url 'dashboard' %}" class="single-item">
                                    <i class="fa fa-dashboard"></i> Dashboard
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- END SIMPLE PANEL - no Collapse -->

                <!-- Collapsible Group Item #1  -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                <i class="fa fa-bar-chart-o"></i> History
                                <i class="pull-right fa fa-caret-down"></i>
                            </a>
                        </h4>
                    </div>

                    <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
                        <!-- anchors Item #1  -->
                        <div>
                            <a href="{% url 'dashboard_blast' %}" class="list-group-item">BLAST</a>
                            <a href="{% url 'dashboard_hmmer' %}" class="list-group-item">HMMER</a>
                            <a href="{% url 'dashboard_clustal' %} " class="list-group-item">CLUSTAL</a>
                            <!-- <a href="{# url 'dashboard_apollo' #}" class="list-group-item">APOLLO</a> -->
                        </div>
                        <!-- anchors Item #1  -->
                    </div>
                </div>
                <!-- END Collapsible Group Item #1  -->
            </div>
            <!-- END SIDEBAR ACCORDION MENU -->
        </div>
    </aside>
    <!-- END SIDEBAR -->


    <!-- MAIN CONTENT  -->
    <!-- MAIN CONTENT  -->
</div>


{% endblock %}
