            <footer>
  <div class="container">
  	<div style="font-size: 85%;">
  		<a href="http://www.nal.usda.gov">NAL Home</a> | 
  		<a href="http://www.usda.gov" target="_blank">USDA.gov</a> | 
  		<a href="http://www.ars.usda.gov" target="_blank">Agricultural Research Service</a> | 
  		<a href="http://www.usda.gov/wps/portal/usda/usdahome?navid=PLAIN_WRITING">Plain Language</a> | 
  		<a href="http://www.ars.usda.gov/Services/docs.htm?docid=1398" target="_blank">FOIA</a> | 
  		<a href="http://www.usda.gov/wps/portal/usda/usdahome?navtype=FT&amp;navid=ACCESSIBILITY_STATEM" target="_blank">Accessibility Statement</a> | 
  		<a href="http://www.ars.usda.gov/Main/docs.htm?docid=8040" target="_blank">Information Quality</a> | 
  		<a href="http://www.ars.usda.gov/disclaim.html#Privacy" target="_blank">Privacy Policy</a> | 
  		<a href="http://www.usda.gov/wps/portal/usda/usdahome?navtype=FT&amp;navid=NON_DISCRIMINATION" target="_blank">Non-Discrimination Statement</a> | 
  		<a href="https://www.usa.gov" target="_blank">USA.gov</a> | 
  		<a href="http://www.whitehouse.gov" target="_blank">White House</a>
			<div>
			<p>Please cite the use of our resources: <a href="http://nar.oxfordjournals.org/content/43/D1/D714" target="blank"> doi: 10.1093/nar/gku983</a></p>
			</div>
  	</div>
  </div>
            </footer>
