<br>
</div>  <div class="d-footer">
  	<a href="http://www.nal.usda.gov" class="footer-a">NAL Home</a> | 
        <a href="http://www.usda.gov" target="_blank" class="footer-a">USDA.gov</a> | 
        <a href="http://www.ars.usda.gov" target="_blank" class="footer-a">Agricultural Research Service</a> | 
        <a href="http://www.usda.gov/wps/portal/usda/usdahome?navid=PLAIN_WRITING" class="footer-a">Plain Language</a> | 
        <a href="http://www.ars.usda.gov/Services/docs.htm?docid=1398" target="_blank" class="footer-a">FOIA</a> | 
        <a href="http://www.usda.gov/wps/portal/usda/usdahome?navtype=FT&amp;navid=ACCESSIBILITY_STATEM" target="_blank" class="footer-a">Accessibility Statement</a> | 
        <a href="http://www.ars.usda.gov/Main/docs.htm?docid=8040" target="_blank" class="footer-a">Information Quality</a> | 
  	<a href="http://www.ars.usda.gov/disclaim.html#Privacy" target="_blank" class="footer-a">Privacy Policy</a> | 
        <a href="http://www.usda.gov/wps/portal/usda/usdahome?navtype=FT&amp;navid=NON_DISCRIMINATION" target="_blank" class="footer-a">Non-Discrimination Statement</a> | 
        <a href="https://www.usa.gov" target="_blank" class="footer-a">USA.gov</a> | 
        <a href="http://www.whitehouse.gov" target="_blank" class="footer-a">White House</a>
        <div>
	     <p>Please cite the use of our resources: <a href="http://nar.oxfordjournals.org/content/43/D1/D714" target="blank" class="footer-a"> doi: 10.1093/nar/gku983</a></p>
	</div>
  </div>
