{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title }} | i5k - App{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Inconsolata:400,700'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
    {% stylesheet 'app-layout' %}
    <script>window.jsErrors=[];window.onerror=function(errorMessage){window.jsErrors[window.jsErrors.length]=errorMessage;}</script>{% block head-scripts %}{% endblock %}    
    {% if isAnalyticsEnabled %}
    <script type="text/javascript" src="{% static 'app/scripts/analytics.js' %}" async></script>
    <script type="text/javascript" id="_fed_an_ua_tag" src="https://nal.usda.gov/sites/all/themes/Universal-Federated-Analytics.1.0.js?agency=USDA&subagency=ARS-NAL"></script>
    {% endif%}
</head>

{% include "app/header.html" %}
<body  {% block bodyclass %}{% endblock %}">
{% block content-body %}{% endblock %}
    <div class="container-fluid" style="height: 100%;">
{% block content-fluid %}
        <div class="container body-content">
{% block content %}{% endblock %}
{% include "app/footer.html" %}
       </div>
{% endblock %}
    </div>

{% javascript 'app-layout' %}
{% block scripts %}{% endblock %}

</body>
</html>
